@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  background-repeat: no-repeat;
  background-image: url('../utilities/loginBanner.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
.container2{
  max-width: 700px;
  width: 55%;
  background-color: #ffffffcf;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container2 .title{
  font-size: 48px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content1 form .user-details1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.error1{
    color: rgba(214, 42, 42, 0.751);
    font-size: small;
}
form .user-details1 .input-box1{
  margin-bottom: 15px;
}
form .input-box1 span.details1{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details1 .input-box1 input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details1 .input-box1 input:focus,
.user-details1 .input-box1 input:valid{
  border-color: #9b59b6;
}
 
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #969e3b
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container2{
  max-width: 66%;
}
form .user-details1 .input-box1{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category1{
    width: 100%;
  }
  .content1 form .user-details1{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details1::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container2 .content1 .category1{
    flex-direction: column;
  }
}

.link{
    color: black;
}
.link:hover{
    color: #1a5d89;
}
